extends layout

block content
  h1= title
  p Welcome to #{title}
  p I’m very interested in astrology and learning more about myself, others, and the world around me. Uncovering someone’s astrology chart helps me better understand where the individual is coming from, how they like to be communicated with, and how they like to communicate.
